
# Created by https://www.gitignore.io/api/dotnetcore
# Edit at https://www.gitignore.io/?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
src/bin/
src/obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules


# End of https://www.gitignore.io/api/dotnetcore
.vscode/launch.json
.vscode/tasks.json

*.dll

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

src/bin/Debug/netcoreapp3.1/*.dll
